@import "lib.less";
body {
	
	font-family: "proxima-nova";
	font-size: @fontbase;
	background: @bgcolor;

	a {
		
		text-decoration: none;
		color: @linkcolor;
		
		&.black {

			color: @blacklinkcolor;

		} //black

		&:hover {
			
			color: @linkhover;
			text-decoration: underline;
			
		} //Hover
		
	} // a
	
	#header {

		background-color: @bgheader;
		height: 9.688em;
		position: relative;
		
		.title {
			
			font-size: 1.875em;
			line-height: 1.067em;
			font-weight: 700;
			font-family: "Urbane";
			text-align: center;
			text-decoration: none;
			display: block;
			margin-top: 0.5em;

		}//title
		
		nav {
			
			position: absolute;
			top: 6.2em;
			
			a {
				
				display: inline-block;
				margin-left: 1.813em;
				color: @menulinkcolor;

				&.current {

					font-weight: 700;

				} // current
				
			} //a
			
		} //nav
		
	} //header

	#content {

		background-color: @bgcontent;
		font-family: "proxima-nova";
		font-weight: 100;
		font-size: 1.500em;
		line-height: 1.667em;

	} // #content


	#home {

		background-color: @bghome;
		background-image: url(../images/bghome.jpg);
		background-size: cover;
		background-position: bottom center;
		background-repeat: no-repeat;
		text-align: center;

		.container {

			.row {

				height: 30.000em;
		
				h1 {

					font-size: 4.063em;
					line-height: 1.2;
					color: #FFF;
					text-transform: uppercase;
					font-family:"urbane";

					.black {

						color: black;

					} // black

				} // h1 

			
			} // row

		} // container

	} // home

	#research {
		
		background-color: @bgresearch;
		padding-bottom: 3em;
		
		form {
			
			text-align: center;
			font-family: "proxima-nova";
			margin-bottom: 2.450em;
			
			input {
				
				&[type=text] {
					
					text-align: left;
					width: 100%;
					line-height: 2.360em;
					font-size: 1.563em;
					padding-left: 1.18em; 
					padding-right: 1.18em; 
					font-weight: 300;
					border: 0;
					border-radius: 100px;
					margin-bottom: 1em;

					&:focus {
						
						outline: none;
						background-color: lighten(@linkhover, 20%);
						
					}
					
				}//[type=text]

				&[type=checkbox] {
					
					display:none;
										
					& + label {
				    	display:inline-block;
    					margin: 1.450em 1.300em 2.450em 0.450em;
						padding-left: 2em;
						height: 1.750em;
						line-height: 1.400em;
						font-size: 1.250em;
						background: url('../images/checkbox-off.png') left top no-repeat;
						cursor:pointer;
						
					}
						
					&:checked + label {
						
						background: url('../images/checkbox-on.png') left top no-repeat;							
					}

				
				} //[type=checkbox]

				&[type=button] {
					
					font-size: 1.250em;
					line-height: 2.600em;
					padding-left: 1.400em;
					padding-right: 1.400em;
					border-radius: 0.250em;
					background-color: #000;
					color: #FFF;
					border: 0;
					text-transform: uppercase;
					
				}//[type=button]
				
			} //input

			.custom-select {

				text-align: left;
				width: 100%;
				font-weight: 300;
				border: 0;
				border-radius: 100px;
				margin-bottom: 1.6em;
				position: relative;
				display: block;
				background-color: #FFF;
				z-index: 10;

				  select {

					border: none;
					outline: none;
					background: transparent;
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
					border-radius: 0;
					margin: 0;
					width: 100%;
					text-align: left;
					line-height: 2.360em;
					font-size: 1.563em;
					padding-left: 1.18em; 
					padding-right: 1.18em; 
					font-weight: 300;
					border: 0;
					color: #AAA;

				} // select
				
				&:after {
				
					position: absolute;
					right: 0;
					top: 0;
					width: 50px;
					height: 100%;
					line-height: 2.360em;
					content: "∨";
					text-align: center;
					color: #DDD;
					font-size: 24px;
					border-left: 1px solid #DDD;
					z-index: -1;
				
				} // ::after
			  
			}// .custom-select

		} //form
		
	} //research

	#result {
		
		background-color: #E6E6E6;

	}

	#footer {

		background-color: #000;
		color: #FFF;

		p {
			line-height: 3em;
			font-size: 0.938em;
			text-align: center;
		} //p
		
	} //footer

} // body

/**

@media (min-width: 576px) {

	body {
		
	
	} // body
	
} // 576px

@media (min-width: 768px) {

	body {
		
	
	} // body
	
} // 768px

@media (min-width: 992px) {

	body {
		
	
	} // body
	
} // 992px

@media (min-width: 1200px) {

	body {
		
	
	} // body
	
} // 1200px
**/