{% autoescape false %}
<!— Output by Twig :: modul "wysiwyg" —>
{{ include('head.html') }}
<body>
	{{ include('mobile.html') }}
	{{ include('header.html') }}
	<div id="research">
		<form id="search">
			<div class="container">
				<div class="row align-items-center">
					<div class="row align-items-center">
						<div class="col">
							<input type="text" placeholder="{{ LANG.TITLE }}" name="title" id="title" />
						</div>
					</div>
					<div class="col">
						<input type="text" 	placeholder="{{ LANG.KEYWORDS }}" 	name="keywords" id="keywords" />
					</div>
					<div class="col">
						<input id="works"  		name="works"  	type="checkbox" checked/><label for="works">{{ LANG.WORKS }}</label>
						<input id="articles" 	name="articles" type="checkbox" checked/><label for="articles">{{ LANG.ARTICLES }}</label>
					</div>
				</div>
				<div class="row align-items-center">
					<div class="col">
						<input type="text" 	placeholder="{{ LANG.NAME }}" 	name="nome" id="nome" />
					</div>
					<div class="col">
						<input id="authors"   name="authors"   type="checkbox" value="1" checked/><label for="authors">{{ LANG.AUTHORS }}</label>
						<input id="translators" name="translators" type="checkbox" value="1" checked/><label for="translators">{{ LANG.TRANSLATORS }}</label>
						<input id="editors"   name="editors" type="checkbox" value="1" checked/><label for="editors">{{ LANG.EDITORS }}</label>
					</div>
				</div>
				<div class="row align-items-center">
					<div class="col">
						<label class="custom-select" for="publisher">
							<select  name="publisher" id="publisher" >
								<option value="" id="">{{ LANG.ALL_EDITORS }}</option>
								{% for publisher in phpPage.publishers %}
								<option value="{{ publisher.id
						}}" id="{{ publisher.id }}">{{ publisher.publisher }}</option>
						{% endfor %}
						</select>
						</label>
					</div>
					<div class="col">
						<input type="text" placeholder="{{ LANG.JOURNAL }}" name="journal" id="journal" />
					</div>
				</div>		
				<div class="row align-items-center">
					<div class="col">	
						<input type="text" placeholder="{{ LANG.YEAR_START }} (1901)" name="fromYear" id="fromYear"/>
					</div>
					<div class="col">
						<input type="text" placeholder="{{ LANG.YEAR_ENDING }} (1956)" name="toYear" id="toYear" />
					</div>
				</div>					
				<div class="row align-items-center">
					<div class="col">
						<label class="custom-select" for="language">
							<select  name="language" id="language" >
								<option value="" id="">{{ LANG.ALL_LANGUAGES }}</option>
								{% for language in phpPage.languages %}
								<option value="{{ language.id }}" id="{{ language.id }}">{{ language.language }}</option>
								{% endfor %}
							</select>
						</label>
					</div>
					<div class="col">
						<label class="custom-select" for="typology">
							<select  name="typology" id="typology" >
								<option value="" id="">{{ LANG.ALL_TYPOLOGIES }}</option>
								{% for typology in phpPage.typologies %}
								<option value="{{ typology.id }}" id="{{ typology.id }}">{{ typology.typology }}</option>
								{% endfor %}
							</select>
						</label>
					</div>					
				</div>	
				<div class="row align-items-center">
					<div class="col">
						<label class="custom-select" for="openAccess">
							<select  name="openAccess" id="openAccess" >
								<option value="" id="">{{ LANG.ALL_ACCESS_TYPE }}</option>
								<option value="1" id="1">{{ LANG.PUBLIC_ACCES }}</option>
								<option value="0" id="0">{{ LANG.RESTRICTED_ACCES }}</option>
							</select>
						</label>
					</div>					
				</div>					
				<div class="row align-items-center">
					<div class="col">
						<input type="button" value="{{ LANG.SEARCH }}" onClick="ajaxSearch('searchExtended');" id="submit" /> 
					</div>
				</div>
			</div>
		</form>
		<div id="result">
		</div>
	</div>
{{ include('footer.html') }}
<!— end Twig —>
{% endautoescape %}