{% autoescape false %}
<!— Output by Twig :: modul "wysiwyg" —>
{{ include('head.html') }}
<body>
	{{ include('mobile.html') }}
	{{ include('header.html') }}
	<div id="content">
		<div class="container">
			<div class="row">
					<h2>{{ phpPage.article.title }}</h2>

			</div>
			<div class="row">

				<div class="col">
					{% if phpPage.article.authors %}
					<p>
						Author:
						{% for author in phpPage.article.authors %}
						{% if not loop.first %} | {% endif %}<a href="people.php?id={{ author.id }}"> <b>{{ author.fullname }}</b> </a>
						{% endfor %}
					</p>
					{% endif %}

					{% if phpPage.article.journal_title %}
					<p>Journal title: {{ phpPage.article.journal_title }} </p>
					{% endif %}

					{% if phpPage.article.journal_issue %}
					<p>Journal issue: {{ phpPage.article.journal_issue }} </p>
					{% endif %}

					{% if phpPage.article.year %}
					<p>Year: {{ phpPage.article.year }}</p>
					{% endif %}

					{% if phpPage.article.language %}
					<p>
						Language: {{ phpPage.article.language }}
					</p>
					{% endif %}

					{% if phpPage.article.pages %}
					<p>
						Pages: {{ phpPage.article.pages }}
					</p>
					{% endif %}


					{% if phpPage.article.issn %}
					<p>
						ISSN: {{ phpPage.article.issn }}
					</p>
					{% endif %}


					{% if phpPage.article.open_access %}
					<p>
						Open access:
						{% if phpPage.article.open_access == 1 %}
						yes
						{% else %}
						no
						{% endif %}
					</p>
					{% endif %}

					{% if phpPage.article.doi %}
					<p>
						DOI: <a href="{{ phpPage.article.doi }}" target="main">{{ phpPage.article.doi }}</a>
					</p>
					{% endif %}



					<!-- questo dovrebbe essere un pop-up -->
					<a href="publisher.php?id={{ phpPage.article.publisher_id }}" target="main"><i>{{ phpPage.article.publisher_name }}</i> </a>

					{% if phpPage.article.editors %}
					<p>
						Editor:
						{% for editor in phpPage.article.editors %}
						{{ editor.fullname }}
						{% endfor %}
					</p>
					{% endif %}

					{{ phpPage.article.publisher['publisher'] }}
					{% if phpPage.article.serie %}
					<i> - {{ phpPage.article.serie }}</i>
					{% endif %}
					&nbsp;{{ phpPage.article.city }} {{ phpPage.article.libraries }}

					{% if phpPage.article.editors %}
					<p>
						Editor:
						{% for editor in phpPage.article.editors %}
						{{ editor.fullname }}|
						{% endfor %}
					</p>
					{% endif %}

					{% if phpPage.article.translators %}
					<p>
						Translator:
						{% for translator in phpPage.article.translator %}
						{{ translator.fullname }}|
						{% endfor %}
					</p>
					{% endif %}



					<p>
						{% if phpPage.article.image %}
						<img src="{{ phpPage.article.image }}" align="left">
						{% endif %}
						{{ phpPage.article.description }}
					</p>


					{% if phpPage.article.editions %}
					<p>
						Editions:
					</p>
					<ul>
						{% for edition in phpPage.article.editions %}
						<li> <a href=""><b>{{ edition.title }}</b></a> - {{ edition.year }}</li>
						{% endfor %}
					</ul>
					{% endif %}

					<P>
						{{ phpPage.article.abstract }}
					</P>
				</div>
				</div>
			</div>
	</div>
{{ include('footer.html') }}
<!— end Twig —>
{% endautoescape %}