{% autoescape false %}
<!— Output by Twig :: modul "wysiwyg" —>
{{ include('head.html') }}
<body>
	{{ include('mobile.html') }}
	{{ include('header.html') }}
	<div id="content">
		<div class="container">
			<div class="row">
					<h2>{{ phpPage.article.title }}</h2>
			</div>
			<div class="row">
				{% if phpPage.article.description  or phpPage.article.abstract %}
				<div class="col-lg-4">
				{% else %}
				<div class="col-lg-12">
				{% endif %}
					{% if phpPage.article.image %}
					<div class="image">
						<img src="/italianwoolf/public/{{ phpPage.article.image }}" align="left">
					</div>
					{% endif %}
					{% set br = 0 %}
					{% if phpPage.article.typology %}
					{% if br != 0 %}<br />{% else %}{% set br = 1 %}{% endif %}{{ LANG.TEXT_TYPOLOGY }}: {{ phpPage.article.typology }}
					{% endif %}
					{% if phpPage.article.authors %}
					{% if br != 0 %}<br />{% else %}{% set br = 1 %}{% endif %}{{ LANG.AUTHOR }}:
					{% for author in phpPage.article.authors %}
					{% if not loop.first %} | {% endif %}<a href="people.php?id={{ author.id }}"> <b>{{ author.fullname }}</b> </a>
					{% endfor %}
					{% endif %}
					{% if phpPage.article.volume_title %}
					{% if br != 0 %}<br />{% else %}{% set br = 1 %}{% endif %}{{ LANG.VOLUME_TITLE }}: {{ phpPage.article.volume_title }}
					{% endif %}
					{% if phpPage.article.editors %}
					{% if br != 0 %}<br />{% else %}{% set br = 1 %}{% endif %}{{ LANG.EDITOR_S }}:
					{% for editor in phpPage.article.editors %}
					{% if not loop.first %} | {% endif %} {{ editor.fullname }}
					{% endfor %}
					{% endif %}
					{% if phpPage.article.publisher_name %}
					{% if br != 0 %}<br />{% else %}{% set br = 1 %}{% endif %}{{ LANG.PUBLISHER }}: <a href="publisher.php?id={{ phpPage.article.publisher_id }}">{{ phpPage.article.publisher_name }}</a>
					{% endif %}
					{% if phpPage.article.city %}
					{% if br != 0 %}<br />{% else %}{% set br = 1 %}{% endif %}City: {{ phpPage.article.city }}
					{% endif %}
					{% if phpPage.article.journal_title %}
					{% if br != 0 %}<br />{% else %}{% set br = 1 %}{% endif %}{{ LANG.JOURNAL_TITLE }}: {{ phpPage.article.journal_title }}
					{% endif %}
					{% if phpPage.article.journal_issue %}
					{{ LANG.JOURNAL_ISSUE }}: {{ phpPage.article.journal_issue }}
					{% endif %}
					{% if phpPage.article.year %}
					{% if br != 0 %}<br />{% else %}{% set br = 1 %}{% endif %}{{ LANG.YEAR }}: {{ phpPage.article.year }}
					{% endif %}
					{% if phpPage.article.language %}
					{% if br != 0 %}<br />{% else %}{% set br = 1 %}{% endif %}{{ LANG.LANGUAGE }}: {{ phpPage.article.language }}
					{% endif %}
					{% if phpPage.article.pages %}
					{% if br != 0 %}<br />{% else %}{% set br = 1 %}{% endif %}{{ LANG.PAGES }}: {{ phpPage.article.pages }}
					{% endif %}
					{% if phpPage.article.issn %}
					{% if br != 0 %}<br />{% else %}{% set br = 1 %}{% endif %}ISSN: {{ phpPage.article.issn }}
					{% endif %}
					{% if phpPage.article.open_access %}
					{% if br != 0 %}<br />{% else %}{% set br = 1 %}{% endif %}{{ LANG.OPEN_ACCESS }}:
					{% if phpPage.article.open_access == 1 %} {{ LANG.YES }} {% else %} {{ LANG.NO }}
					{% endif %}
					{% endif %}
					{% if phpPage.article.doi %}
					{% if br != 0 %}<br />{% else %}{% set br = 1 %}{% endif %}DOI: <a href="{{ phpPage.article.doi }}">{{ phpPage.article.doi }}</a>
					{% endif %}
					{% if phpPage.article.publisher['publisher'] %}
					{% if br != 0 %}<br />{% else %}{% set br = 1 %}{% endif %}{{ LANG.PUBLISHER }}: {{ phpPage.article.publisher['publisher'] }}
					{% endif %}
					{% if phpPage.article.serie %}
					{% if br != 0 %}<br />{% else %}{% set br = 1 %}{% endif %}{{ LANG.SERIE }}: {{ phpPage.article.serie }}
					{% endif %}
					{% if phpPage.article.libraries %}
					{% if br != 0 %}<br />{% else %}{% set br = 1 %}{% endif %}{{ LANG.LIBRARIES }}:  <a href="{{ phpPage.article.libraries }}" target="_blank">{{ phpPage.article.libraries }}</a>
					{% endif %}
					{% if phpPage.article.description  or phpPage.article.abstract %}
				</div>
				<div class="col-lg-8">
					{% endif %}
					{% if phpPage.article.description %}
					<p>
						{{ phpPage.article.description }}
					</p>  
					{% endif %}
					{% if phpPage.article.description %}
					<p>
						Abstract: {{ phpPage.article.description }}
					</p>  
					{% endif %}
				</div>
			</div>
			{% if phpPage.article.editions %}
			<div class="row">
				<div class="col">
					<p>
						{{ LANG.EDITIONS }}:
					</p>
						<ul>
							{% for edition in phpPage.article.editions %}
								
								<li> <a href="edition.php?subject={{ edition.title }}&id={{ edition.id }}" ><b>{{ edition.title }}</b></a> - {{ edition.year }}</li>
							{% endfor %}
						</ul>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
{{ include('footer.html') }}
<!— end Twig —>
{% endautoescape %}