{% autoescape false %}
<!— Output by Twig :: modul "wysiwyg" —>
{{ include('head.html') }}
<body>
	{{ include('mobile.html') }}
	{{ include('header.html') }}
	<div id="content">
		<div class="container">
			<div class="row">
				<div class="col">
					<h2>{{ phpPage.edition.title }}{% if phpPage.edition.year %} ({{ phpPage.edition.year }}){% endif %}
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col">
					{% if phpPage.edition.authors %}
						<br />Authors:
						{% for author in phpPage.edition.authors %}{% if not loop.first %}, {% endif %}<a href="people.php?id={{ author.id }}">{{ author.fullname }}</a>{% endfor %}
					{% endif %}
					{% if phpPage.edition.translators %}
						<br />Translators:
						{% for translator in phpPage.edition.translators %}{% if not loop.first %}, {% endif %}<a href="people.php?id={{ translator.id }}">{{ translator.fullname }}</a>{% endfor %}
					{% endif %}
					{% if phpPage.edition.secondary_authors %}
						<br />Secondary authors:
						{% for secondary_author in phpPage.edition.secondary_authors %}{% if not loop.first %}, {% endif %}<a href="people.php?id={{ secondary_authors.id }}">{{ secondary_author.fullname }}</a>{% endfor %}
					{% endif %}
					{% if phpPage.edition.editors %}
						<br />Editors:
						{% for editor in phpPage.edition.editors %}{% if not loop.first %}, {% endif %}<a href="people.php?id={{ editor.id }}">{{ editor.fullname }}</a>{% endfor %}
					{% endif %}
					{% if phpPage.edition.illustrators %}
						<br />Illustrators:
						{% for illustrator in phpPage.edition.illustrators %}{% if not loop.first %}, {% endif %}<a href="people.php?id={{ editor.id }}">{{ illustrator.fullname }}</a>{% endfor %}
					{% endif %}
					{% if phpPage.edition.publisher_id %}
						<br />Publisher:
						<a href="publisher.php?subject={{ phpPage.edition.publisher_name }}&id={{ phpPage.edition.publisher_id }}" ><i>{{ phpPage.edition.publisher_name }}</i> </a>
					{% endif %}
					{% if work.city %}
						<br />City: {{ phpPage.edition.city }}
					{% endif %}
					{% if work.pages %}
						<br />Pages: {{ phpPage.edition.pages }}
					{% endif %}
					{% if phpPage.edition.language %}
						<br />Language: {{ phpPage.edition.language }}
					{% endif %}					
					{% if phpPage.edition.paratexts %}
						<br />Paratexts:
						{% for paratext in phpPage.edition.paratexts %}{% if not loop.first %}, {% endif %}{{ paratext.paratext }}</a>{% endfor %}
					{% endif %}
					{% if phpPage.edition.isbn %}
						<br />ISBN: {{ phpPage.edition.isbn }}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{{ include('footer.html') }}
<!— end Twig —>
{% endautoescape %}