{% autoescape false %}
<!— Output by Twig :: modul "wysiwyg" —>
		<div id="footer">
		    <div class="container">
				<div class="row align-items-center">
					<p>
						<a href="https://ec.europa.eu/info/index_en" target="_blank"><img src="{{ WOOLF_URL }}images/EUCommission.png" /></a>
						<a href="https://www.reading.ac.uk" target="_blank"><img src="{{ WOOLF_URL }}images/Reading.png" /></a>
						&copy; 2020 Virginia Woolf in Italy
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
<!— end Twig —>
{% endautoescape %}