{% autoescape false %}
<!— Output by Twig :: modul "wysiwyg" —>
	<div id="header">
	    <div class="container">
			<div class="row align-items-start">
				<div class="col-min offset-1">
					<a class="title black" href="{{ WOOLF_URL }}">
						<img src="{{ WOOLF_URL }}images/LogoVirginiaWoolfAndItaliansReaders.png" />
					</a>
				</div>
				<div class="col">
					<row>
						<nav>
							{% for menu in menus %}
							{% if page.content_key == menu.content_key %}
							{% if page.languages_id == 1 %}
							<a href="{{ WOOLF_URL }}{{menu.file_name}}.php?{% if args %}{{ args }}{% endif %}lang=2">ITA</a>
							{% elseif page.languages_id == 2 %}
							<a href="{{ WOOLF_URL }}{{menu.file_name}}.php?{% if args %}{{ args }}{% endif %}lang=1">ENG</a>
							{% endif %}
							{% endif %}
							{% endfor %}
						</nav>
					</row>
					<row>
						<nav class="menu">
							{% for menu in menus %}
							{% if menu.hidden == 0 %}
							<a href="{{ WOOLF_URL }}{{menu.file_name}}.php" class="{% if page.content_key == menu.content_key %}current{% else %}black{% endif %}">{{menu.menu_title}}</a>
							{% endif %}
							{% endfor %}
						</nav>
					</row>
				</div>
				<div class="mobile">
					<div id="menu-icon">
						<div class="bar1"></div>
						<div class="bar2"></div>
						<div class="bar3"></div>
					</div>
				</div>
			</div>
		</div>
    </div>
	<div id="home" class="{{ page.content_key }}">
		<div class="container">
			<div class="row align-items-center">
				<div class="col align-self-center">
					<h1>
						{% if page.content_key == 'HOME' %}
							ITALIAN WOOLF <span class="black">PROJECT</span>
						{% else %}
							{{ page.title }}
						{% endif %}
					</h1>
				</div>
			</div>
		</div>
	</div>
<!— end Twig —>
{% endautoescape %}