{% autoescape false %}
<!— Output by Twig :: modul "wysiwyg" —>
<div id="home">
	<div class="container">
		<div class="row align-items-center">
			<h1>VIRGINIA WOOLF IN <span class="black">ITALY</span></h1>
		</div>
		<div class="row align-items-center">
			<p>
				Search among translations, texts, articles, essays, books and reviews on Virginia Woolf published in Italy.
			</p>
		</div>
		<div class="row align-items-center">
			<a href="">Search</a>
		</div>
	</div>
</div>
<!— end Twig —>
{% endautoescape %}