{% autoescape false %}
<!— Output by Twig :: modul "wysiwyg" —>
<div id="home">
	<div class="container">
		<div class="row align-items-center">
			<div class="col align-self-center">
				<h1>VIRGINIA WOOLF IN <span class="black">ITALY</span></h1>
				<p>
					Search among translations, texts, articles, essays, books and reviews on Virginia Woolf published in Italy.
				</p>
				<a href="">Search</a>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row align-items-center">
			<div class="col align-self-center">
				<p>
					{{ page.title }}
				</p>
				<p>
					{{ page.menu_title }}
				</p>
				<p>
					{{ page.content }}
				</p>
				<p>
					{{ page.content_key }}
				</p>
				<p>
					{{ page.parent_id }}
				</p>
			</div>
		</div>
	</div>
</div>
<!— end Twig —>
{% endautoescape %}