{% autoescape false %}
<!— Output by Twig :: modul "wysiwyg" —>
	<div id="mobile">
	    <div class="container">
			<div class="row">
				<div class="col">
					<row>
						<nav class="menu">
							<a class="title black" href="{{ WOOLF_URL }}">
								<img src="{{ WOOLF_URL }}images/LogoVirginiaWoolfAndItaliansReaders.png" />
							</a>
							{% for menu in menus %}
								{% if menu.hidden == 0 %}
									<a href="{{ WOOLF_URL }}{{menu.file_name}}.php" class="{% if page.content_key == menu.content_key %}current{% else %}black{% endif %}">{{menu.menu_title}}</a>
								{% endif %}
							{% endfor %}
							{% for menu in menus %}
								{% if page.content_key == menu.content_key %}
									{% if page.languages_id == 1 %}
										<a href="{{ WOOLF_URL }}{{menu.file_name}}.php?lang=2">ITA</a>
									{% elseif page.languages_id == 2 %}
										<a href="{{ WOOLF_URL }}{{menu.file_name}}.php?lang=1">ENG</a>
									{% endif %}
								{% endif %}
							{% endfor %}
						</nav>
					</row>
				</div>
			</div>
		</div>
    </div>
<!— end Twig —>
{% endautoescape %}