{% autoescape false %}
<!— Output by Twig :: modul "wysiwyg" —>
{{ include('head.html') }}
<body>
	{{ include('mobile.html') }}
	{{ include('header.html') }}
	<div id="content">
		<div class="container">
			<div class="row">
				<div class="col">
					<h2>{{ phpPage.people.fullname }}
					{% if phpPage.people.other_name %}
						({{ phpPage.people.other_name }})
					{% endif %}
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col">
					{% if phpPage.people.birth_date %}
					<br />Birth date: {{ phpPage.people.birth_date }}
					{% endif %}
					{% if phpPage.people.death_date %}
					<br />Death date: {{ phpPage.people.death_date }}
					{% endif %}

					{% if phpPage.people.authority_record %}
					<br />Authority record: <a href="{{ phpPage.people.authority_record }}" target="_blank"><i>{{ phpPage.people.authority_record }}</i> </a>
					{% endif %}

					{% if phpPage.people.image %}
					<br />	<img src="{{ phpPage.people.image }}" align="left">
					{% endif %}

					{% if phpPage.author %}
					<br /><b>As Author:</b><br />
					{% for author in phpPage.author %}
					{% if not loop.first %} | {% endif %}<a href="work.php?id={{ author.id }}"> <b>{{ author.title }}</b> </a>
					{% endfor %}
					{% endif %}

					{% if phpPage.second_author %}
					<br /><b>As Second Author:</b><br />
					{% for second_author in phpPage.second_author %}
						{%  if not loop.first  %} | {% endif %}<a href="work.php?id={{ second_author.id }}"> <b>{{ second_author.title }}</b> </a>
					{% endfor %}
					{% endif %}

					{% if phpPage.editor %}
					<br /><b>s Editor:</b><br />
					{% for editor in phpPage.editor %}
						{%  if not loop.first %} | {% endif %}<a href="work.php?id={{ editor.id }}"> <b>{{ editor.title }}</b> </a>
					{% endfor %}
					</p>
					{% endif %}

					{% if phpPage.translator %}
					<br /><b>As Translator:</b><br />
					{% for translator in phpPage.translator %}
						{%  if not loop.first %} | {% endif %}<a href="work.php?id={{ translator.id }}"> <b>{{ translator.title }}</b> </a>
					{% endfor %}
					{% endif %}

					{% if phpPage.illustrator %}
					<br /><b>As Illustrator:</b><br />
					{% for illustrator in phpPage.illustrator %}
						{%  if not loop.first %} | {% endif %}<a href="work.php?id={{ illustrator.id }}"> <b>{{ illustrator.title }}</b> </a>
					{% endfor %}

					{% endif %}

					{% if phpPage.people.description %}
					<p>
						{{ phpPage.people.description }}
					</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{{ include('footer.html') }}
<!— end Twig —>
{% endautoescape %}