{% autoescape false %}
<!— Output by Twig :: modul "wysiwyg" —>
<div id="research">
	<form id="search">
		<div class="container">
			<div class="row align-items-center">
				<div class="col">
					<input type="text" 	placeholder="{{ LANG.KEYWORDS }}" 	name="keywords" id="keywords" />
				</div>
			</div>
			<div class="row align-items-center">
				<div class="col-lg-6 align-items-left">
					<input id="works"  		name="works"  	type="checkbox" checked/><label for="works">{{ LANG.BOOKS }}</label>
					<input id="articles" 	name="articles" type="checkbox" checked/><label for="articles">{{ LANG.ARTICLES }}</label>
				</div>
			</div>
			<div class="row align-items-center">
				<div class="col">
					<input type="button" value="{{ LANG.SEARCH }}" onClick="ajaxSearch('searchExtended');" id="submit" /> 
				</div>
			</div>
		</div>
	</form>
<!— end Twig —>
{% endautoescape %}