{% autoescape false %}
<!— Output by Twig :: modul "wysiwyg" —>
{{ include('head.html') }}
{{ include('header.html') }}
</head>
{% if page.content_key == 'HOME' %}
<div id="home" class="{{ page.content_key }}">
	<div class="container">
		<div class="row align-items-center">
			<div class="col align-self-center">
				<h1>VIRGINIA WOOLF IN <span class="black">ITALY</span></h1>
				<p>
					Search among translations, texts, articles, essays, books and reviews on Virginia Woolf published in Italy.
				</p>
				<a href="">Search</a>
			</div>
		</div>
	</div>
</div>
{% endif %}
<div id="content" class="{{ page.content_key }}">
	<div class="container">
		<div class="row">
			<div class="col-10 offset-md-1">
					<h1>{{ page.menu_title }}</h1>
					{{ page.content }}
			</div>
		</div>
	</div>
</div>
{{ include('footer.html') }}
<!— end Twig —>
{% endautoescape %}