{% autoescape false %}
<!— Output by Twig :: modul "wysiwyg" —>
{{ include('head.html') }}
<body>
	{{ include('mobile.html') }}
	{{ include('header.html') }}
	<div id="home" class="{{ page.content_key }}">
		<div class="container">
			<div class="row align-items-center">
				<div class="col align-self-center">
					<h1>
						{% if page.content_key == 'HOME' %}
							ITALIAN WOOLF <span class="black">PROJECT</span>
						{% else %}
							{{ page.title }}
						{% endif %}
					</h1>
				</div>
			</div>
		</div>
	</div>

	<div id="content" class="{{ page.content_key }}">
		<div class="container">
			<div class="row">
				<div class="col-10 offset-1">
					{{ page.content }}
				</div>
			</div>
		</div>
	</div>
{{ include('footer.html') }}
<!— end Twig —>
{% endautoescape %}