{% autoescape false %}
<!— Output by Twig :: modul "wysiwyg" —>
{{ include('head.html') }}
<body>
	{{ include('mobile.html') }}
	{{ include('header.html') }}
	<div id="content">
		<div class="container">
			<div class="row">
				<div class="col">
					<h2>{{ phpPage.work.title }}{% if phpPage.work.year %} ({{ phpPage.work.year }}){% endif %}
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					{% if phpPage.work.image %}
					<div class="image">
						<img src="/italianwoolf/public/{{ phpPage.work.image }}" align="left">
					</div>
					{% endif %}
					<p class="description">
						{% if phpPage.work.authors %}
						<br />{{ LANG.AUTHORS }}:
						{% for author in phpPage.work.authors %}{% if not loop.first %}, {% endif %}<a href="people.php?id={{ author.id }}">{{ author.fullname }}</a>{% endfor %}
						{% endif %}
						{% if phpPage.work.translators %}
						<br />{{ LANG.TRANSLATORS }}:
						{% for translator in phpPage.work.translators %}{% if not loop.first %}, {% endif %}<a href="people.php?id={{ translator.id }}">{{ translator.fullname }}</a>{% endfor %}
						{% endif %}
						{% if phpPage.work.secondary_authors %}
						<br />{{ LANG.SECONDARY_AUTHORS }}:
						{% for secondary_author in phpPage.work.secondary_authors %}{% if not loop.first %}, {% endif %}<a href="people.php?id={{ secondary_author.id }}">{{ secondary_author.fullname }}</a>{% endfor %}
						{% endif %}
						{% if phpPage.work.editors %}
						<br />{{ LANG.EDITORS }}:
						{% for editor in phpPage.work.editors %}{% if not loop.first %}, {% endif %}<a href="people.php?id={{ editor.id }}">{{ editor.fullname }}</a>{% endfor %}
						{% endif %}
						{% if phpPage.work.illustrators %}
						<br />{{ LANG.ILLUSTRATORS }}:
						{% for illustrator in phpPage.work.illustrators %}{% if not loop.first %}, {% endif %}<a href="people.php?id={{ editor.id }}">{{ illustrator.fullname }}</a>{% endfor %}
						{% endif %}
						{% if phpPage.work.publisher_id %}
						<br />{{ LANG.PUBLISHER }}:
						<a href="publisher.php?subject={{ phpPage.work.publisher_name }}&id={{ phpPage.work.publisher_id }}"><i>{{ phpPage.work.publisher_name }}</i> </a>
						{% endif %}
						{% if work.city %}
						<br />{{ LANG.CITY }}: {{ phpPage.work.city }}
						{% endif %}
						{% if work.pages %}
						<br />{{ LANG.PAGES }}: {{ phpPage.work.pages }}
						{% endif %}
						{% if phpPage.work.language %}
						<br />{{ LANG.LANGUAGE }}: {{ phpPage.work.language }}
						{% endif %}
						{% if phpPage.work.libraries %}
						<br />{{ LANG.LIBRARIES }}:  <a href="{{ phpPage.work.libraries }}" target="_blank">{{ phpPage.work.libraries }}</a>
						{% endif %}
						{% if phpPage.work.paratexts %}
						<br />{{ LANG.PARATEXTS }}:
						{% for paratext in phpPage.work.paratexts %}{% if not loop.first %}, {% endif %}{{ paratext.paratext }}</a>{% endfor %}
						{% endif %}
						{% if phpPage.work.isbn %}
						<br />ISBN: {{ phpPage.work.isbn }}
						{% endif %}
						{% if phpPage.work.description %}
					</p>
				</div>
				<div class="col-lg-8">
					<p class="description">
						{{ phpPage.work.description }}
					</p>  
					{% endif %}
					{% if phpPage.work.editions %}
				</div>
			</div>
			<div class="row">
				<div class="col">
					<p>
						{{ LANG.OTHER_EDITIONS }}:
					</p>
						<ul>
							{% for edition in phpPage.work.editions %}
								
								<li> <a href="edition.php?subject={{ edition.title }}&id={{ edition.id }}" ><b>{{ edition.title }}</b></a> - {{ edition.year }}</li>
							{% endfor %}
						</ul>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{{ include('footer.html') }}
<!— end Twig —>
{% endautoescape %}